<ion-view view-title="{{ 'mm.settings.about' | translate }}" >
    <ion-content mm-state-class>
	<div style="padding: 25px;direction:rtl;">
	    <br/>
	    <br/>
	<div style="text-align:center;">
	    <img src="img/logo.png" style="width: 70%;"/>
	</div>
	<br/>
	<br/>
	<div style="text-align:right;">
	    <div>پست الکترونیکی: elearning@sb24.com</div>
	    <div>تلفن: ۸۸۵۵۲۲۴۷ الی ۵۲</div>
	    <div>نمابر: ۸۸۷۰۵۸۰۰</div>
	    <div>آدرس: تهران - خیابان وزرا - خیابان هفتم - پلاک ۱۱ - طبقه ۴</div>
	    <div>کد پستی: ۱۵۱۳۷۳۷۹۱۱</div>
	</div>
	<br/>
	<br/>
	<div style="text-align:center;">
	    <img src="img/for.png" style="width: 40%;" />
	    <br/>
	    <br/>
	    پشتیبانی فنی توسط شرکت فناوران اصول رایانه<br/>
	    <a href="http://www.for.ir">http://www.for.ir</a>
	</div>
	</div>
    </ion-content>
</ion-view>
